
.projects {
    background-image: url(https://i.imgur.com/p6sQdAv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 1920px;
}



.arrowLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 85.2%;
}
.projectName {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 640px;
    background-color: white;
    max-height: 160px;
}
.projectName p {
    height: 65px;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 36px;
    color: #362f2d;
    font-weight: 900;
    font-family: "Lato";
    margin: 25px;
}


.projectArticle {
    display: flex;
    justify-content: center;
}

@media (max-width: 1080px) and (max-height: 1920px) {
    .projects {
        background-image: url(https://i.imgur.com/GAAM4DJ.jpeg);
        background-position: center;
        height: 1920px;
        width: 1080px;
    }

    
    .projectName {
        width: 960px;
        height: 270px;
        max-height: none;
    }
    .projectName p{
        width: 944px;
        height: 223px;
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 72px;
        color: #362f2d;
        font-weight: 900;
        font-family: "Lato";
    }
    .arrowLeft {
        height: 80%;
    }
    .arrowLeft img {
        width: 100px;
        height: 133px;
    }
}