html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    background-color: #362f2d;
    max-width: 1920px;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}
.map {
    height: 100%;
    width: 50%;
    position: absolute;
    background-color: #504744;
    
}
.contactForm {
    margin: 10px 10px 10px 80px;
    display: flex;
    flex-direction: column;
    max-width: 785px;
    height: 330px;
}
.contactForm input {
    height: 30px;
    margin: 10px;
    margin-right: 630px;
    width: 305px;
    color: #ff8322;
    background-color: #504744 ;
    display: initial;
    border-style: none;
}
.contactForm textarea {
    width: 775px;
    height: 100px;
    color: #ff8322;
    background-color: #504744 ;
    display: initial;
    border-style: none;
    margin: 10px;
}
.contactForm button {
    float: right;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #362f2d;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
    background-color: #ff8322;
    border-style: none;
}
.contact {
    width: 89vh;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.contactAside{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
}
.contactHiring {
    width: 290px;
    height: 268px;
    margin: 90px;
}

.contactHiring p {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 48px;
    color: #ff8322;
    font-weight: 300;
    font-family: "Lato";
}
.contactHiring span {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 48px;
    color: #ff8322;
    font-weight: 300;
    font-family: "Lato";
}
.contactHiring h4 {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 48px;
    color: #ff8322;
    font-weight: 900;
    font-family: "Lato";
}
.contactInfo {
    margin: 90px;
}
.contactInfo h2 {
    width: 305px;
    height: 165px;
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 32px;
    color: #ff8322;
    font-weight: 900;
    font-family: "Lato";
}
.contactInfo span {
    width: 260px;
    height: 231px;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 48px;
    color: #ff8322;
    font-weight: 300;
    font-family: "Lato";
}
.contactRef {
    max-width: 161px;
}
.contactGral {
    display: flex;
    justify-content: space-evenly;
    max-height: 460px;
    max-width: 960px;
}

@media (max-width: 1080px) and (max-height: 5000px) {
    .map {
        height: 100%;
        width: 100%;
    }
    .contact {
        display: block;
        width: 1080px;
        overflow:auto;
    }
    .contactGral {
        display: block;
    }
    .contactInfo h2 {
        width: 800px;
        height: 414px;
        font-size: 90px;
        letter-spacing: 9px;
        line-height: 110px;
        color: #ff8322;
        font-weight: 900;
        font-family: "Lato";
    }
    .contactHiring h4 {
        width: 800px;
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 80px;
        color: #ff8322;
        font-weight: 900;
        font-family: "Lato";
    }
    .contactHiring p {
        width: 800px;
        height: 500px;
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 80px;
        color: #ff8322;
        font-family: "Lato";
    }
    .contactHiring span {
        width: 800px;
        height: 909px;
        font-size: 60px;
        letter-spacing: 2px;
        line-height: 360px;
        color: #ff8322;
        font-family: "Lato";
            }
    .contactForm {
        height: 880px;
        width: 800px;
        margin-top: 1700px;
    }
    .contactForm input {
        width: 796px;
    }
    .contactForm textarea {
        width: 796px;
    }
    .contactForm button {
        width: 440px;
        height: 120px;
    }
    .contactForm form {
        width: 810px;
    }
    .contactRef {
        width: 720px;
        height: 506px;
        max-width: 450px;
    }
    .contactRef span {
        line-height: 80px;
        color: #ff8322;
        font-weight: 300;
        font-size: 60px;
        font-family: "Lato";
    }
    .contactAside {
        max-width: 1080px;
    }
    
}